a{
    text-decoration: none !important;
}

.cabecalho-tabela{
    background-color:  #1cc88a!important;
    color: #FFFFFF;
}

.tabela-chuva{
    background-color:  #4e73df !important;
    color: #FFFFFF;
}

.menu-item a{
    color: #FFFFFF !important;
}

#box{
    border: 1px solid red;
    display: inline;
    float: left;
    width: 100%;
    margin-left: 0px;
    margin-right:0px;
}
#menu-selecao{
    background-color: #FFFFFF !important;
    text-align: center !important;
}