a{
    text-decoration: none !important;
}


.cabecalho-tabela{
    background-color:  #1cc88a!important;
    color: #FFFFFF;
}

.tabela-chuva{
    background-color:  #4e73df !important;
    color: #FFFFFF;
}

.menu-item a{
    color: #FFFFFF !important;
}

#box{
    border: 1px solid red;
    display: inline;
    float: left;
    width: 100%;
    margin-top: 40px;
}

#card-geral{
    background-color: #FFFFFF;
    margin-top: 30px;
}

#card-geral a{
    text-decoration: none !important;
}

#div-icon{
    float: left;
    display: inline;
    padding: auto;
    margin-right: 15px;
    font-size: 20pt;
}

#div-text{
    display: inline;
    float: left;
}

.sensores{
    text-align: center;
    color: #FFFFFF;
    padding: 40px;
}

.titulo{
    color: #FFFFFF;
    margin-bottom: 0px;
    text-align: center;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}


